body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    background-image: linear-gradient(to bottom,
    #009687 0px,
    #009687 15vh,
    white 15vh,
    white 100%);
    height: 100vh;
    width: 100%;
}

img {
    height: 20px;
    padding-right: 1rem;
    border-radius: 50%;
}

button {
    border: none;
}

.normal-font {
    font-size: 0.9rem;
}

.small-font {
    font-size: 0.7rem;
    color: grey;
}

i {
    padding-right: 1rem;
    color: #b0b0b0;
}

#app {
    width: 80%;
    height: 90%;
    background-color: white;
    margin: solid 1px grey;
}

.container {
    height: 100%;
}

.sidebar {
    width: 30%;
    border-right: 1px solid gray;
}

.chats {
    width: 70%;
    background-image: url(../imgs/mine.jpg);
    background-repeat: repeat;
    background-size: contain;
}

.profile-info,
.header-chat {
    background-color: #ebebeb;
    height: 45px;
}

.messages-container {
    overflow-y: auto;
    max-height: 100%;
    padding-top: 1rem;
}

.messages-chat {
    padding: 0 3rem;
}

.single-message.sent{
    padding: 1rem;
    background-color: #d6fabb;
    width: 40%;
    border-radius: .5rem;
    align-self: end;
    margin-bottom: 1rem;
}

.single-message.received{
    padding: 1rem;
    background-color: white;
    width: 40%;
    border-radius: .5rem;
    align-self: start;
    margin-bottom: 1rem;
}

.profile{
    background-color: #ebebeb;
}

.notifications {
    background-color: #91dafa;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.contatti {
    overflow-y: auto;
}

.white {
    background-color: white;
}

.green {
    background-color: green;
}

.input-chat {
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #edeae8;
}
