body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9dbd5;
    background: linear-gradient(#009687);
    height: 100vh;
}

.profile-info img,
.listener-img img {
    width: 10%;
    padding-right: 1rem;
}

i {
    padding-right: 1rem;
}

.container {
    display: flex;
    width: 80vw;
    height: 90vh;
    background-color: white;
    margin: solid 1px grey;
}

.sidebar {
    width: 30%;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    padding: 13px;
}

.chats {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    align-items: center;
    background-color: #ebebeb;
    height: 100px;
}

.notifications {
    background-color: #91dafa;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.contacts {
    overflow-y: auto;
}

.header-chat {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ebebeb;
}

.white {
    background-color: white;
}

.green {
    background-color: green;
}

.input-chat {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #edeae8;
}