<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-Boolzapp</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="sidebar">
                <section class="profile">
                </section>
                <section class="notifications">
                </section>
                <input type="text">
                <section class="contacts" v-for="item in contatti">
                    {{item}}
                </section>
            </div>
            <div class="chats">
                <div class="header-chat">
                </div>
                <div class="messages-chat">
                    <p :class="green"></p>
                        {{message}}
                    <p :class="white"></p>
                </div>
                <div class="input-chat" v-model="message">
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>