<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-Boolzapp</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="d-flex justify-content-center">
    <div id="app">
        <div class="container d-flex">
            <div class="sidebar d-flex flex-column">
                <section class="profile d-flex align-items-center justify-content-between">
                    <div class="profile-info d-flex">
                        <img src="./imgs/avatar_io.jpg" alt="">
                        <p class="normal-font">Sofia</p>
                    </div>
                    <div class="buttons d-flex">
                        <i class="fa-solid fa-circle-notch"></i>                        
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </section>
                <section class="notifications d-flex">
                    <div class="notifications-img">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="notifications-info">
                        <p class="normal-font">Ricevi notifiche di nuovi messaggi</p>
                        <p class="small-font text-decoration-underline">Attiva notifiche desktop</p>
                    </div>
                </section>
                <form class="d-flex">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input class="form-control" type="search" placeholder="Cerca o inizia una nuova chat" aria-label="Search">
                </form>
                <section class="contatti" v-for="(item,index) in contacts" :key="index" @click="clickContatto">
                    {{item.name}}
                </section>
            </div>
            <div class="chats d-flex flex-column justify-content-between">
                <section class="header-chat d-flex justify-content-between align-items-center">
                    <img src="./imgs/avatar_1.jpg" alt="">
                    <div class="listener-info d-flex flex-column">
                        <span class="normal-font">Michele</span>
                        <span class="small-font">Ultimo accesso oggi alle 12:00</span>
                    </div>
                    <div class="buttons d-flex">
                        <i class="fa-solid fa-magnifying-glass"></i>                      
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </section>
                <div class="messages-chat d-flex flex-column">                    
                    <article class="single-message sent">
                        <p :class="green">{{contacts[0].messages[0].message}}</p>
                    </article>
                    <article class="single-message received">
                        <p :class="white"></p>
                    </article>
                </div>
                <div class="input-chat d-flex justify-content-between" v-model="message">
                    <button>
                        <i class="fa-solid fa-face-smile"></i>
                    </button>
                    <form class="d-flex col">
                        <input class="form-control" type="search" placeholder="cerca o inizia una nuova chat" aria-label="Search">
                    </form>
                    <button>
                        <i class="fa-solid fa-microphone"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>